/*========================
 * body
 * 空出导航条和脚部版权的位置
 * =====================*/
body {
  padding: 60px 0 40px;
  background:#FFF;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 2px;
  margin:4px;
}
::-webkit-scrollbar-track:hover {
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  background:#EEE;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background:#CCC;
}
::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}
.brand, h1, h2, h3 {
  font-family: Microsoft Yahei;
}

#always-hidden {
  display:none;
}
.mt10 {
  margin-top:10px;
}

.icon-b-plug-sign {
  background:url(../img/glyphicons_190_circle_plus.png);
  width:26px;
  height:26px;
  line-height:26px;
  vertical-align: text-top;
}

.remove-button {
  position:absolute;
  top:3px;
  right:9px;
  display: block;
  cursor: pointer;
  background-color:#EEE;
  z-index:10;
  opacity: 0.6;
}
.remove-button:hover {
  opacity:1;
}
/*========================
 * windows
 * #screen-size 设备分辨率选择
 * #publish 发布窗体
 * =====================*/
#screen-size .device {
  padding: 20px 0 5px;
  border:2px solid #FFF;
  border-radius: 4px;
}
#screen-size .device:hover {
  border:2px solid #CCC;
}
#screen-size .active {
  background-color: #F5F5F5;
  border: 2px solid #EEE;
  /* @alternate */ border: 2px solid rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  font-weight:bold;
}
#screen-size form {
  text-align:center;
}
#screen-size input {
  width: 60px;
  text-align:right;
}

#publish li.active {
  list-style:circle;
  color:#049cdb;
}
#publish li.pass {
  list-style:disc;
  color:#46a546;
}

#book-config .icon, #book-config .cover {
  max-height:150px;
  border:1px solid #CCC;
  padding:1px;
}

/** ======================
 * context menu
 * 功能菜单项  
 *======================*/
#context-menu {
  position:absolute;
  top:0;
  right:332px;
  margin-top:0;
}
#context-menu .swatch {
  width: 16px;
  height: 10px;
  display: inline-block;
  margin-right: 4px;
  border-radius: 2px;
}
.uploader {
  visibility:hidden;
  position: absolute;
}
#context-menu .scale {
  padding: 0 10px;
  text-align:center;
}
#context-menu .scale input {
  margin:0;
  padding:0;
  width:150px;
}
#context-menu .geo-search {
  padding:5px 10px;
  width:232px;
}
#context-menu .geo-search input {
  margin:0;
}
.tmp-marker {
  background: url(../img/mapmarkers.png);
  height:32px;
  position: absolute;
  width:22px;
  z-index: 100;
}
.uploader {
  visibility:hidden;
  position:absolute;
  bottom: -50px;
}
.group1 + .group1,
.group2 + .group2,
.group5 + .group5 {
  margin-left: -5px;
}
.group1 + .group1 .btn,
.group2 + .group2 .btn,
.group5 + .group5 .btn {
  border-radius:0;
}
.text-helper {
  border:1px solid #666;
  padding:10px 20px;
  background:#FFF;
  position:absolute;
}


/*========================
 * page
 * 页面功能部分
 * =====================*/
#page-area {
  position: relative;
  overflow:hidden;
  margin:0 auto;
}
#page-list {
  width:120px;
  padding: 15px 5px 5px;
  background: #EEE;
  text-shadow:0 1px 0 #FFF;
  float:left;
}
#page-list-inner {
  list-style:none;
  margin:5px 0 0;
  overflow-x:hidden;
  overflow-y:auto;
  padding:5px 5px 0;
  position: relative;
}
#page-list-inner li.item {
  min-height: 60px;
  list-style:none;
  border:1px solid #CCC;
  border-radius:2px;
  background:#FFF;
  margin: 0 0 5px;
  cursor:pointer;
  position:relative;
}
#page-list-inner li.item:hover {
  border-color:#08C;
  box-shadow:0 0 1px rgba(0, 105, 214, 0.25);
}
#page-list-inner li.active {
  border:1px solid #08C;
  box-shadow: 0 0 2px rgba(0, 105, 214, 0.25);
}
#page-list-inner .add-button {
  width:100%;
}
#page-list-inner canvas {
  width:100%;
  display:block;
}

#page-body {
  width: 1024px;
  height:768px;
  background:#EEE;
  margin-left: 12px;
  float: left;
  position: relative;
}
#page-body.page {
  visibility: visible;
}
#page-body.editing img,
#page-body.editing .editable {
  opacity: 0.4;
}
#page-body.editing img.active,
#page-body.editing .editing,
#page-body.editing .active img {
  opacity: 1;
}
#page-body canvas {
  box-shadow:0 0 1px #000;
}
#page-body .placeholder {
  background:url(../img/imageplaceholder.png) center center no-repeat #CCC;
  box-shadow:inset 0 0 8px #08C;
  cursor: pointer;
  min-width:200px;
  min-height: 80px;
}
#page-body .active-img {
  box-shadow:inset 0 0 8px #F83;
}
#page-body .ui-resizable-handle {
  display:none;
}
#page-body .editable:hover,
#page-body .editing {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 2px #CCC, 0 0 2px 2px #08C;
  border-radius:4px;
}
#page-body .editable:hover .ui-resizable-handle,
#page-body .editing .ui-resizable-handle {
  display:block;
}

#panel {
  width: 300px;
  padding: 10px;
  background:#EEE;
  float:right;
}
#panel hr {
  border-top-color:#CCC;
  margin:10px 0;
}
#panel .btn-group .btn {
  width:128px;
}
#panel .nav-tabs {
  border:none;
}
#panel .well {
  width:260px;
  height: 658px;
  overflow-x:hidden;
  overflow-y:auto;
  margin:0;
}
#template-list li {
  display:block;
  padding:4px;
  line-height:1;
  border:1px solid #DDD;
  border-radius:4px;
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
  list-style:none;
  margin: 0 0 10px;
  opacity: 0.8;
  cursor:pointer;
}
#templae-list li img {
  display:block;
  max-width:100%;
  margin: 0 auto;
}
#template-list li:hover {
  opacity: 1;
  border-color:#08C;
  box-shadow:0 1px 4px rgba(0, 105, 214, 0.25);
}
#template-list.disabled li:hover {
  opacity: 0.8;
  border-color: #DDD;
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
  cursor: default;
}
#template-list li.active {
  border-color: #08C;
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
#source-list {
  position: relative;
}
#source-list dt {
  background: #EEE;
  /* @alternate */ background: -moz-linear-gradient(top, #FFF, #EEE);
  /* @alternate */ background: -webkit-linear-gradient(top, #FFF, #EEE);
  padding: 5px 8px 4px;
  border: 1px solid #CCC;
  border-radius: 4px 4px 0 0;
}
#source-list dd {
  padding:5px;
  border: 1px solid #CCC;
  border-top: none;
  margin: 0 0 10px;
  border-radius: 0 0 4px 4px;
  background: #FFF;
}
#source-list ul {
  margin:0;
}
#source-list li {
  padding:5px;
  margin:0 0 10px;
  list-style: none;
  border-bottom: 1px dashed #EEE;
  position:relative;
}
#source-list li:last-child {
  border:none;
  margin:0;
}
#source-list li img {
  border:1px solid #CCC;
  padding:1px;
}
#source-list li span:hover {
  border:1px solid #08C;
  padding:2px;
  border-radius:2px;
  box-shadow:inset 0 0 2px #CCC;
  background:#DEF;
}

/** ====================
 *   覆盖类库的样式
 *=====================*/
.ui-resizable {
  cursor: move;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: 1;
}
.carousel h4 {
  padding-bottom:4px;
}
.carousel p {
  line-height:20px;
}
.dropdown-menu .disabled {
  color:#CCC;
  padding:3px 15px;
  cursor: default;
}
.dropdown-menu .disabled:hover {
  color:#CCC;
  background-color: #FFF;
}
