html,
body {
  height:100%;
}

.navbar-fixed-top {
  position: static;
  margin-bottom: 0;
}

body,
#content,
#sidebar,
#page-area,
#page-editor,
#page-list,
#page-list header {
  display:-webkit-box;
  display:box;
}
#page-area,
#content,
#page-list,
#page-editor,
#page-list-inner,
#page-number {
  -webkit-box-flex:1;
  box-flex:1;
}
#content,
#page-list header {
  -webkit-box-orient:horizontal;
  box-orient:horizontal;
}
body,
#sidebar,
#page-area,
#page-list {
  -webkit-box-orient:vertical;
  box-orient:vertical;
}
#page-editor {
  -webkit-box-align:center;
  -webkit-box-pack:center;
}

/*========================
 * main layout elements
 * =====================*/
#sidebar {
  width: 300px;
  border-top:1px solid #D4D4D4;
}
#sidebar hr {
  margin:10px;
}
#page-area {
  background: #DDD;
}

/*========================
 * sidebar layout
 * =====================*/
#panel {
  padding: 10px;
}
#panel .well {
  overflow-y:auto;
  max-height: 200px;
  padding-bottom: 0;
}
#panel .nav {
  margin-bottom: 10px;
}
#source-list,
#template-list {
  margin:0;
}
#template-list li {
  padding:4px;
  margin: 0 0 10px;
  display: inline-block;
  box-sizing: border-box;
  width:76px;
}
#page-list {
  padding: 0 10px 10px;
}
#page-list header {
  margin-bottom: 10px;
}
#page-list .add-button {
  width:150px;
}