/*========================
 * body
 * 空出导航条和脚部版权的位置
 * =====================*/
body {
  background: #FFF;
  font:14px/20px simsun;
}
.brand, h1, h2, h3 {
  font-family: Microsoft Yahei;
}

.remove-button {
  position:absolute;
  top:3px;
  right:9px;
  display: block;
  cursor: pointer;
  background-color:#EEE;
  z-index:10;
  opacity: 0.6;
}
.remove-button:hover {
  opacity:1;
}
.noscript {
  width: 350px;
  position: absolute;
  left:50%;
  top:100px;
  margin-left:-200px;
  font:16px/24px Microsoft Yahei;
}
.noscript h4 {
  font:bold 20px/30px Microsoft Yahei;
  padding: 0 0 10px;
}

/** ====================
 *   loading
 *=====================*/
#loading {
  width: 300px;
  position:absolute;
  left:50%;
  top:100px;
  margin-left:-160px;
  border:1px solid #DDD;
  border-radius: 6px;
  background:#FFF;
  box-shadow:0 4px 10px rgba(200, 200, 200, 0.7);
}
#loading .top {
  padding: 30px 10px 25px;
  background:#2185C5;
  border-radius:6px 6px 0 0;
}
#loading h2 {
  color:#FFF;
  text-align:center;
  font:bold 24px/30px Microsoft Yahei, Simhei;
  margin:10px 0 15px;
}
#loading h4 {
  font-size:16px;
  padding: 0 10px;
}
#loading p {
  font-size:14px;
  padding:0 10px;
}
#loading .top p {
  margin:10px 0 0;
  -webkit-animation-name: appLoadingIndicator;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
}
@-webkit-keyframes appLoadingIndicator{
  0% { opacity: 0.8 }
  50% { opacity: 0 }
  100% { opacity: 0.8 }
}
#loading .dot {
  width: 16px;
  height:16px;
  display:inline-block;
  border-radius:8px;
  margin:0 5px;
  background:#FFF;
  opacity: 0.8;
}

/** ====================
 *   helper
 *=====================*/
.hide,
.hidden,
.always-hidden  {
  display:none;
}

/** ====================
 *   覆盖类库的样式
 *=====================*/
.ui-resizable {
  cursor: move;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: 1;
}
.carousel h4 {
  padding-bottom:4px;
}
.carousel p {
  line-height:20px;
}
.map-container img {
  max-width:none;
}
#navbar .login{
  color:#08c;
  padding: 9px 10px 11px 4px;
}
#navbar .welcome {
  padding:9px 0 11px 9px;
  color:#999;
  line-height:19px;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);
}