html,
body {
  height:100%;
}

.navbar-fixed-top {
  position: static;
}

body,
#content,
#sidebar,
#page-area,
#page-editor,
#page-list {
  display:-webkit-box;
  display:box;
}
#page-area,
#content,
#page-list,
#page-editor,
#page-list-inner {
  -webkit-box-flex:1;
  box-flex:1;
}
#content {
  -webkit-box-orient:horizontal;
  box-orient:horizontal;
}
body,
#sidebar,
#page-area,
#page-list {
  -webkit-box-orient:vertical;
  box-orient:vertical;
}
#page-editor {
  -webkit-box-align:center;
  -webkit-box-pack:center;
}

/*========================
 * main layout elements
 * =====================*/
#sidebar {
  width: 300px;
  border-top:1px solid #D4D4D4;
}
#sidebar hr {
  margin:10px;
}
#page-area {
  background: #DDD;
}

/*========================
 * sidebar layout
 * =====================*/
#template-list li {
  padding:4px;
  margin: 0 0 10px;
  display: inline-block;
  box-sizing: border-box;
  width:76px;
}
