#viewport {
  width:1024px;
  height:768px;
  margin:0 auto;
  position:relative;
  z-index:1;
  overflow:hidden;
}
#container {
  height:100%;
}
.page {
  width:1024px;
  height:768px;
  float:left;
}
.hide {
  visibility:hidden;
}
