/*************************
 * 浏览用样式
 * 
 * ===================== */
.fixed {
  position:absolute;
}
.top, .tl, .tr {
  top:0px;
}
.bottom, .bl, .br {
  bottom:0px;
}
.full {
  width:100%;
  height:100%; 
}
