<ul data-config='{"type": "list", "number": 3, "col": 3, "maxRows": 1}' class="full grid col3">
  <li>
    <img class="full placeholder" src="{{img}}" alt="{{title}}" />
  </li>
</ul>
<div class="fixed l30 t50 ui-draggable ui-resizable">
  <h1 class="editable">越南富国岛蜜月游</h1>
</div>
<div class="fixed l80 t75 ui-draggable ui-resizable">
  <h3 class="editable">文：肉山</h3>
</div>
<div class="fixed blackcon t10 l75 w20 ui-draggable ui-resizable">
  <div class="bighead editable p20">
    <p>文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要</p>
  </div>
</div>
