<h4 class="fixed l10 t10 editable tag ui-draggable">
  标题
</h4>
<ul class="fixed l10 t20 grid w80 b10">
  <li class="row-fluid" style="height:32%;margin-bottom: 2%">
    <div class="span4" data-config='{"type": "single", "number": 1}'>
      <img width="100%" height="100%" src="{{img}}" alt="{{title}}" class="placeholder shadow full" />
    </div>
    <div class="span8 shadow whitecon full">
      <p class="p20 editable black">文字内容</p>
    </div>
  </li>
  <li class="row-fluid" style="height:32%;margin-bottom: 2%">
    <div class="span8 shadow whitecon full">
      <p class="p20 editable black">文字内容</p>
    </div>
    <div class="span4" data-config='{"type": "single", "number": 1}'>
      <img width="100%" height="100%" src="{{img}}" alt="{{title}}" class="placeholder shadow full" />
    </div>
  </li>
  <li class="row-fluid" style="height:32%;">
    <div class="span4" data-config='{"type": "single", "number": 1}'>
      <img width="100%" height="100%" src="{{img}}" alt="{{title}}" class="placeholder shadow full" />
    </div>
    <div class="span8 shadow whitecon full">
      <p class="p20 editable black">文字内容</p>
    </div>
  </li>
</ul>