<div class="fixed l10 t10 tag ui-draggable">
  <h4 class="editable">
    标题
  </h4>
</div>
<ul class="fixed l10 t20 grid grid-type1 w80 h70 row3-space ui-draggable ui-resizable" data-config='{"type": "list", "number": 3, "maxCols": 1, "row": 3}'>
  <script type="text/html-template">
    <li class="row-fluid">
      <div class="span4">
        <img width="100%" height="100%" src="{{img}}" class="placeholder shadow full" />
      </div>
      <div class="span8 shadow whitecon full">
        <article class="p20 black">
          <p>{{description}}</p>
        </article>
      </div>
    </li>
  </script>
</ul>