<!DOCTYPE html>
<title>杂志最终模板</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="css/style.css" />
<script src="js/libs/zepto.min.js"></script>
<script src="js/libs/iscroll.js"></script>
<script src="js/BookReader.js"></script>
<script src="//maps.google.com/maps/api/js?sensor=true"></script>
<script>
  $(function () {
    var reader = new BookReader('viewport', {{width}}, {{height}});
    reader.start();
  });
</script>
<div id="viewport">
  <div id="container">
    
  </div>
</div>
<textarea id="book-content">
  {{{content}}}
</textarea>
<assets>
  <img src="img/mapmarkers.png" />
  <img src="img/spacer.gif" />
</assets>
