<div class="ui-draggable ui-resizable l5 t5 w30 fixed">
  <div class="editable large black">
    <p>
      大字大字大字大字大字大字大字
    </p>
  </div>
</div>
<div class="l40 t5 w55 h20 fixed ui-draggable ui-resizable" data-config='{"type": "single", "number": 1}'>
  <img class="full placeholder" src="{{img}}" />
</div>
<div class="fixed l5 t30 w90 column3 ui-draggable ui-resizable">
  <article class="editable black">
    <p>
      首先一点是解放了布朗这个死胖子。场上有couch K和纳什，进攻教练基本上就不用怎么担心了。其次肯定是解放了kobe，有了纳什组织进攻这种事情基本上就不用他担心了，科神可以一开场就火力全开不用在考虑为队友创造机会。当然，如果能搞来Hiil，再加上巴恩斯，纳什带着这帮人玩儿个炮轰也不是不可行。所以，战术选择更多样，科神可以专注砍分，比赛不会像这赛季那么沉闷。这都是纳什带给湖人的变化。
    </p>
  </article>
</div>