<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand editable" href="#">标题标题</a>
    </div>
  </div>
</div>
<div class="fixed ui-draggable ui-resizable" style="left:5%;top:10%;width:35%;height:85%" data-config='{"type": "single", "number": 1}'>
  <img src="{{img}}" alt="{{title}}" class="placeholder shadow full" />
</div>
<div class="fixed shadow whitecon ui-draggable ui-resizable" style="left:45%;top:10%;width:50%;height:85%">
  <div class="editable p20">
    文字文字
  </div>
</div>