<div class="slide-main" data-config='{"type": "slide-main", "group": "slide", "number": 1, "noData": true}'>
  <script type="text/html-template">
    <img width="100%" height="100%" src="{{img}}" class="full placeholder" />
  </script>
</div>
<div class="fixed bottom slide-navi-type1">
  <ul data-config='{"type": "slide-navi", "group": "slide", "number": 1}' class="slide-navi grid">
    <script type="text/html-template">
      <li>
        <img width="120" src="{{img}}" class="placeholder" />
      </li>
    </script>
  </ul>
</div>

