<figure class="fixed full ui-draggable ui-resizable slide-main" data-config='{"type": "slide-main", "group": "slide", "noData": true, "number": 1}'>
  <script type="text/html-template">
    <img src="{{img}}" class="placeholder full" />
    <figcaption class="whitecon">{{description}}</figcaption>
  </script>
</figure>
<ul class="slide-navi slide-navi-type3 r5 b5 ui-draggable" data-config='{"type": "slide-navi", "group": "slide", "number": 1}'>
  <script type="text/html-template">
    <li src="{{img}}">{{count}}</li>
  </script>
</ul>
