.settings/
api/assets/
api/static/
api/temp/
api/android/
api/include/Mustache
api/*.ipa
api/*.apk
api/*.log
bin/
temp/
jqueryui/
js/libs/backbone.js
export/
img/source/
build/*.jar
build/temp.*
web.config
~
